*{
    box-sizing: border-box;
       
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
   }


h2{font-size: 3em;
text-align: center;}
h3{font-size: 3em;}
p{font-size: 2em;}
ul{list-style: none;}
li{font-size: 3em;}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 5px;
    border:1px solid 1px 1px 5px black;
    color: black;
    background-color: goldenrod;
    
}

button:hover{
    background-color: white;
}

.container{
   max-width: 1400px;
      
   
}

header{
    background-color: black;

   
}

header .logo{
    margin:0;
    display: flex;
     height: 150px;
    
     
}

header .container{
    display:flex;
    align-items: center;
    flex-direction: column;
    
    
                    
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3.5em;
    padding-left: 9em;
    
    
    
}

header a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(162, 126, 34);
    font-size: 1.5em;
    padding: 5px 12px;
    margin-right: 20%;
    margin-left: 10%;
    
      
}

header a:hover{
    color:rgb(182, 176, 158);

}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,url(dama1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}

#hero h1{
    color: white;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    
}

#hero button{
    font-size: 3em;
}

#somos .container{

align-items: center;
padding: 50px 0px;
display: flex;
justify-content: space-evenly;
}

#nuestros-servicios{
    background-color: rgb(110, 106, 106);
    color: white;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    
}

#nuestros-servicios .container{
   margin: 0;
   height: 50vh;
   padding: 50px 50px;
   
}

#nuestros-servicios h2{
    margin-top: 0px;

}

#nuestros-servicios p{
    display:none;
    margin: bottom 20px;
    text-align: justify;
    

}

#nuestros-servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
  
   
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("asesoria.jpg");
   

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("defensa.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("compliance.jpg");

}

#final .container{
    
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
 padding: 150px 30px;
}

#final li{
    margin: 4px 0px;
    font-weight: bold;
    height: 3.5vh;
}

#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 50vh;
}


#contacto button{
    font-size: 3em;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 3px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items:center;
}

@media (min-width: 50px){
    header{
        position: fixed;
        width: 200%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
        
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
      

    }

    #hero h1{
        font-size: 5em;
    }

    #somos .texto{
        
      max-width: 1000px;
      padding-left: 8em;
      padding-right: 8em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
                 
              
    }

 
    #somos p{
      margin-left: 20px;
      margin-right: 20px;
    text-align: justify;

    }
    

    #somos .img-container{
        background-image: url("abogados.jpg");
        background-size:cover;
        background-position: center center;
        height: 400px;
        width: 250px;
        padding: 150px 250px;
        margin-left: 50px;
        
           
    }
  
    #nuestros-servicios .servicios{
        display:flex;
        justify-content: center;
    }

    #nuestros-servicios p{
        display: block;
        margin-bottom: 16px;
        font-size: 1em;
        
      
    }

      
    

    #nuestros-servicios h3{
        margin-inline-end: 0%;
    }

    #nuestros-servicios .carta{
        padding: 15px;
        background-size: 20% 50px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 4px 10px 20px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("asesoria.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("defensa.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("compliance.jpgç");

    }

    #final{
        background-image: url("valores.jpg");
        background-repeat: no-repeat;
        background-size: 150px 150px;
        margin-right: 0;
        background-position: calc(25vw - 150px) 30px;
    }

    #final .container{
      text-align: initial;
    }

    #final ul{
        margin-left: 30px;
    }

    #contacto h2{
        font-size: 2em;
        text-align: end;
    }
    #contacto input{
        font-size: 25px;
    }

    #contacto button{
        font-size: 1.5em;
    }

    #contacto img{
        display:flex;
        justify-content: center;
        height:15px;
    }

    footer .container{
        justify-content: flex-end;
    
    }
}

@media (min-width: 300px) {
    #final{
        background-position-x: calc(25vw - 200px);
    }

}